
<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>covidometer</title>
    <link rel = "icon" href = "https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/SARS-CoV-2_without_background.png/597px-SARS-CoV-2_without_background.png" type = "image/x-icon"> 
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css'  %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre'">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alike">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amarante">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cambo">
    <link rel="stylesheet" href="{% static 'assets/css/best-carousel-slide.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body>
    <div class="contact-clean" style="background-color:#2b2b28;padding-top: 0px;padding-bottom: 40px;height: auto;">
        <section id="carousel">
            <div class="carousel slide" data-ride="carousel" id="carousel-1">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="jumbotron pulse animated hero-nature carousel-hero" style="height: 440px;background-image: url('{% static 'assets/img/woman-having-a-video-call-4031818.jpg' %}');background-size: cover;background-repeat: no-repeat;">
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="jumbotron pulse animated hero-photography carousel-hero" style="height: 440px;background-image: url('{% static 'assets/img/happy-family-in-medical-masks-on-city-street-4127430.jpg' %}');"></div>
                    </div>
                    <div class="carousel-item">
                        <div class="jumbotron pulse animated hero-technology carousel-hero" style="background-image: url('{% static 'assets/img/coronavirus-statistics-on-screen-3970330.jpg' %}');background-size: cover;background-position: bottom;height: 420px;background-repeat: no-repeat;">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><i class="fa fa-chevron-left"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><i class="fa fa-chevron-right"></i><span class="sr-only">Next</span></a></div>
                <ol
                    class="carousel-indicators">
                    <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-1" data-slide-to="1"></li>
                    <li data-target="#carousel-1" data-slide-to="2"></li>
                    </ol>
            </div>
        </section>
        <form method="get" action='results' style="margin-top: 50px;background-color: #f7f7f7;height: auto;width: 100%;float:center;">
            <h2 class="text-center" style="color: #2b2b28;font-family: Alike, serif;">Search for any country&nbsp;</h2>
    
            <div class="form-group">
                
             <!--<input class="form-control" autocomplete="off" type="text" name="search" placeholder="Enter country name here...">-->
             <select name="search" style="width:100%;border-radius:14px;height:40px;font-size:large;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
                <option disabled selected value > -- select a country -- </option>
                {% for country in listitems %}
                    <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
              </select>
            </div>
              <div class="form-group"><button class="btn btn-primary" type="submit" style="width: 100%;background-color: #5bbf21;color: #ffffff;font-family: Alike, serif;font-size: 20px;">Search</button></div>
              {% block content %}
              <img src="static/assets/img/{{ image }}" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);border-radius:20px;background-position: top;margin-left: 0px;width: 100%;height: 267px;">
              <h1
                style="margin-top: 20px;font-size: 30px;font-family: Cambo, serif;color: #000000;width: 100%;">Population :<span style="margin-left: 10px;">{{ Population }}</span>&nbsp;</h1>
                <h1 style="margin-top: 20px;font-size: 30px;font-family: Cambo, serif;color: #000000;width: 100%;">Total Cases :<span style="margin-left: 10px;">{{ Total_Cases }}</span>&nbsp;</h1>
                <h1 style="margin-top: 20px;font-size: 30px;font-family: Cambo, serif;color: #000000;width: 100%;">New Cases :<span style="margin-left: 10px;color: rgb(36,0,255);">{{ New_cases }}</span>&nbsp;</h1>
                <h1 style="margin-top: 20px;font-size: 30px;font-family: Cambo, serif;color: #000000;width: 100%;">Total Deaths :<span style="margin-left: 10px;color: rgb(255,0,0);">{{ Total_Deaths }}</span>&nbsp;</h1>
                <h1 style="margin-top: 20px;font-size: 30px;font-family: Cambo, serif;color: #000000;width: 100%;">New Deaths :<span style="margin-left: 10px;color: rgb(249,0,0);">{{ New_Deaths }}</span>&nbsp;</h1>
                <h1 style="margin-top: 20px;font-size: 30px;font-family: Cambo, serif;color: #000000;width: 100%;">Total Recovered :<span style="margin-left: 10px;color: rgb(45,193,8);">{{ Total_Recovered }}</span>&nbsp;</h1>
                <h1 style="margin-top: 20px;font-size: 30px;font-family: Cambo, serif;color: #000000;width: 100%;">Active cases :<span style="margin-left: 10px;">{{ Active_cases }}</span>&nbsp;</h1>
                <h1 style="margin-top: 20px;font-size: 30px;font-family: Cambo, serif;color: #000000;width: 100%;">Critical cases :<span style="margin-left: 10px;">{{ Critical_cases }}</span>&nbsp;</h1>
                <h1 style="margin-top: 20px;font-size: 30px;font-family: Cambo, serif;color: #000000;width: 100%;">Total Tests :<span style="margin-left: 10px;">{{ Total_tests }}</span>&nbsp;</h1>
                {% endblock %}
            </form>
    </div>
    <div class="footer-basic" style="padding-bottom: 0px;">
        <footer style="background-color: #505e6c;color: #040404;font-size: 18px;height: 150px;">
            <div class="social" style="margin-top: 0px;padding-top: 10px;">
                <a href="https://github.com/manthanraut" style="background-color: #ffffff;"><i class="icon ion-social-github"></i></a>
                <a href="https://www.facebook.com/manthan.raut.1297/" style="background-color: #f1f7fc;"><i class="icon ion-social-facebook"></i></a>
                <a href="https://www.instagram.com/manthan_raut_never_give_up/" style="background-color: #f1f7fc;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/manthan-raut-130a09185/" style="background-color: #f1f7fc;"><i class="fa fa-linkedin-square"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#" style="font-family: 'Abhaya Libre', serif;color: #ffffff;">Home</a></li>
                <li class="list-inline-item"><a href="#" style="font-family: 'Abhaya Libre', serif;color: #ffffff;">Contact Me</a></li>
                <li class="list-inline-item"><a href="#" style="font-family: 'Abhaya Libre', serif;color: #ffffff;">About Me</a></li>
                <li class="list-inline-item"></li>
                <li class="list-inline-item" style="font-family: 'Abhaya Libre', serif;padding-right: 5px;padding-left: 5px;"><a href="https://myportfolio16.herokuapp.com/" style="font-family: 'Abhaya Libre', serif;color: #f1f7fc;">My Portfolio</a></li>
            </ul>
            <p class="copyright">Company Name © 2020</p>
        </footer>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>